body {
	padding-left: 10%;
	padding-right: 10%;
	font-family: 'Arial', 'Helvetica', sans-serif;
}

div.navbar {
	padding: 20px;
}

span.uls-trigger {
	float: right;
	cursor: pointer;
	font-weight: bold;
}
